.donate-bg {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #0E1655;
  min-height: 100vh;
}

.donate-row1 {
  padding-top: 130px;
}

.col-courses {
  margin-bottom: 150px;
}

.lesson-list-mount {
  padding: 0px 60px;
}

.lesson-list {
  display: block;
  height: 500px;
  padding: 0px 20px;
  background-color: #0E1655;
  overflow: scroll;
}

.video-buttons {
  display: inline-block;
}

.donate-buttons {
  display: inline-block;
}

/* .course{
  color: #E4C6F8;
  box-shadow: inset 0px 0px 10px 5px #9D3DFD;
} */

.play-icon {
  position: absolute;
  top:0;
  right: 0;
  margin: 10px 15px 0px 0px;
  box-shadow: inset 0px 0px 10px 4px #44E5DD;
  padding: 15px 30px;
  border-radius: 8px;
}

.add-icon {
  color: #E4C6F8;
  box-shadow: inset 0px 0px 10px 5px #9D3DFD;
  background-color: transparent;
  border-radius: 8px;
  margin: 6px 0px 1px 0px;
  border: 0px;
  padding: 0px 30px;
}

.add-icon:hover {
  color: #9D3DFD;
  background-color: #E4C6F8;
}